body {
    width: 800px;
    height: 600px;
    left: 0;
    top: 0;
    overflow: hidden;
    align-items: center;
}

#splash img{
    height: 600px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
}

#container {
    width: 800px;
    height: 600px;
    position:absolute;
}

button {
    z-index: 1000;
    position: relative;
}

.draggable{
    touch-action: none;
    user-select: none;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    position: absolute;
}

.draggable img{
    position: absolute;
}


